.career_item_container {
    display: -webkit-flex;
    -webkit-flex-direction: column;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.career_set_container {
    display: -webkit-flex;
    -webkit-flex-direction: column;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.career_image {
    width: 100px ;
    height: 100px ;
}

.career_card {
    -webkit-flex: 1 1 auto ;
    flex: 1 1 auto ;
}
