.center_aligned_column {
    justify-content: center;
    align-items: center;
}

.margin_left {
    margin-left: 10px ;
}

.margin_right{
    margin-right: 10px ;
}

.margin_top {
    margin-top: 10px ;
}

.margin_bottom {
    margin-bottom: 10px ;
}

/* ============================================================================================================ */

.career_image {
    width: 200px ;
    height: 200px ;
}

.career_item_container {
    display: -webkit-flex ;
    -webkit-flex-direction: row ;

    display: flex ;
    flex-direction: row ;

    justify-content: center ;
    align-items: center ;

    flex-wrap: nowrap ;
}

.career_set_container {
    display: -webkit-flex ;
    -webkit-flex-direction: row ;

    display: flex ;
    flex-direction: row ;

    justify-content: center ;
    align-items: center;
}

/* ============================================================================================================ */

.blog_column_container {
    padding-top: 100px ;
    padding-left: 5% ;
    padding-right: 5% ;

    height: auto ;

    display: -webkit-flex;
    -webkit-flex-direction: column;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.blog_card {
    width: 100%;
}

/* ============================================================================================================ */

#home_top_row_photo {
    background: url(../graphics/7.jpg);
    height: 600px ;
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
}
