.layout_weight_1 {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; 
	flex: 1 ; 
}

.layout_weight_2 {
    -webkit-flex: 2; /* Safari 6.1+ */
    -ms-flex: 2; 
	flex: 2 ; 
}

.padding_small {
	padding: 10px;
}

.padding_normal {
	padding: 20px;	
}

.padding_large {
	padding: 40px;
}

.padding_none {
	padding: 0px;
}

.margin_small {
	margin: 10px;
}

.margin_normal {
	margin: 20px;
}

.margin_large {
	margin: 40px;
}

.margin_none {
	margin: 0px;
}

.no_margin_right {
    margin-right: 0px ;
}

.no_margin_left {
    margin-left: 0px ;
}

.no_margin_top {
    margin-top: 0px ;
}

.no_margin_bottom {
    margin-bottom: 0px ;
}

.children_align_center {
    justify-content: center;
    -webkit-justify-content: center; /* Safari 6.1+ */
    
	align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
}

.flex_container_row {
	display: flex ;
    display: -webkit-flex; /* Safari */
    
	flex-direction: row ;
    -webkit-flex-direction: row; /* Safari 6.1+ */
    
    justify-content: center;
    -webkit-justify-content: center; /* Safari 6.1+ */
    
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
}

.flex_container_column {
	display: flex ;
    display: -webkit-flex; /* Safari */
    
	flex-direction: column ;
    -webkit-flex-direction: column; /* Safari 6.1+ */
    
    justify-content: center;
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
}

.justify_content_space_between {
    justify-content: space-between ; 
    -webkit-justify-content: space-between; /* Safari 6.1+ */
}

.width_match_parent {
	width: 100% ; 
}

.height_match_parent {
	height: 100% ; 
}

.image_fill_width {
	max-width: 100%;
    height: auto;	
}

.image_fill_height {
	max-height: 100%;
    width: auto;
}

.width_auto {
    width: auto ;
}

.height_auto {
    height: auto ;
}

.width_75_parent {
    width: 75% ; 
}

.width_50_parent {
    width: 50% ; 
}

.position_relative {
    position: relative ;
}

.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}