#action_bar {
    background: #0277BD ;
}

.column_container {
    padding-top: 100px ;
    padding-left: 5% ;
    padding-right: 5% ;

	height: 100%;

    background: #607D8B ;

    display: -webkit-flex;
    -webkit-flex-direction: column;

    display: flex;
    flex-direction: column;;
}

.row_container {
    margin-bottom: 20px ;
    margin-left: 10px ;
    margin-right: 10px ;

    height: auto ;

    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;

    justify-content: center;
}

.center_aligned_container {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row_item {
    margin-left: 10px ;
    margin-right: 10px ;
}

.row_item_1 {
    -webkit-flex: 1 1 auto ;
    flex: 1 1 auto ;
}

.row_item_2 {
    -webkit-flex: 2 1 auto ;
    flex: 2 1 auto ;
}

.row_item_3 {
    -webkit-flex: 3 1 auto ;
    flex: 3 1 auto ;
}

.match_parent {
    width: 100% ;
    height: 100% ;
}

#index_profile_image {
    background: url('./graphics/me.jpg') center / cover;
}
